
<div class="col-xs-12 col-md-4">
        <div class="profile-info">
          <h2> <%= @user.name %> </h2>
          <%= image_tag(@user.facebook_picture_url, :class => "profile-image") %>
          <div class="edit_profile">
            <p>Email: <%= current_user.email %></p>
            <%= link_to "Edit profile", root_path %>
          </div>
        </div>
      </div>
        <div class="col-xs-12 col-md-8">
          <div class="profile-activity">

            <%= render 'tabs' %>

          </div>
      </div>
