<div class="row">

  <div class="col-xs-12 col-md-4">

    <div class="profile-info">
      <h2> <%= @user.name %> </h2>
       <%= image_tag avatar_url, class: "profile-image" %>

      <div class="edit_profile">
        <p>Email: <%= current_user.email %></p>
        <%= link_to "Edit profile", root_path %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="profile-activity">
      <div class="my-row">
        <%= image_tag('chef.png', :class => "profile-icon flex-item") %>
        <h2 class="flex-item">My chef profile</h2>
       </div>

      <!-- From Boostrap  - other features here https://getbootstrap.com/docs/3.3/javascript/#tabs
      -->
      <!-- Tab menu -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a class="tab" href="#booking" aria-controls="requests" role="tab" data-toggle="tab">Booking Requests</a></li>
        <li role="presentation"><a href="#confirmed" aria-controls="confirmed" role="tab" data-toggle="tab">Confirmed customers</a></li>
        <li role="presentation"><a href="#meals" aria-controls="meals" role="tab" data-toggle="tab">My meals</a></li>

      </ul>
      <!-- Tab content -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active no-border" id="booking">
          <% if @chef_bookings.empty? %>

            <div class="activity empty">
              <p>Oh no you don't have any bookings yet 😢 </p> <br>
              <p>Use social media to promote your meal or create a new one <%= link_to "here", new_meal_path %></p>
            </div>

          <% else %>

            <div class="activity">

              <% @chef_bookings.each do |booking| %>
               <div class="booking">
                <% if booking.confirmed? == false %>
                <div class="booking-confirm">
               <%= cl_image_tag(booking.meal.photo, :class => "meal-image", :effect=>"auto_color", :width=>50) %>
              <%= link_to "#{booking.meal.name}", meal_path(booking.meal), class: "meal-link" %>

                <%= link_to "Confirm", booking_path(booking, confirm: true), method: :patch, class: "meal-link btn btn-primary end" %>
              </div>

              <% end %>
              </div>

              <% end %>

            </div>
          <% end %>
        </div>
          <div role="tabpanel" class="tab-pane no-border" id="confirmed">
            <div class="activity empty">
               <% @chef_bookings.each do |booking| %>
               <div class="booking-content">
                <% if booking.confirmed? == true %>

                <div class="booking-confirm">
               <%= cl_image_tag(booking.meal.photo, :class => "meal-image", :effect=>"auto_color", :width=>50) %>
              <%= link_to "#{booking.meal.name}", meal_path(booking.meal), class: "meal-link" %>


                <%= link_to "Cancel", booking_path(booking, cancel: true), method: :patch, class: "meal-link btn btn-info end" %>
              </div>
              <% end %>
              </div>
              <% end %>
            </div>
        </div>
         <div role="tabpanel" class="tab-pane no-border" id="meals">
            <div class="activity empty">
              <% meals.each do |meal| %>
               <div class="booking-content">
              <%= cl_image_tag(meal.photo, :class => "meal-image", :effect=>"auto_color", :width=>50) %>
              <%= link_to "#{meal.name}", meal_path(meal), id: "meal-link" %>

              </div>
              <% end %>
              <%= button_to "Add new meal", new_meal_path, :method => :get, class: "btn btn-primary", id: "meal-button" %>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>



