<h1>Hurray! You've booked <%= @meal.name %></h1>
<p>Total price = $R <%= @booking.price %></p>
<p>For <%= @booking.people %> people</p>
<p>Date = <%= @booking.date %></p>
<p>Chat to your chef... <%= @meal.chef.name %></p>

