<br>
<div class="row">
   <input class="form-control" placeholder="insert city, category or host name">
</div>

<div class="row categories">
  <%= link_to "italian", '#', class: "btn btn-primary" %>
  <%= link_to "french", '#', class: "btn btn-primary" %>
  <%= link_to "japanese", '#', class: "btn btn-primary" %>
  <%= link_to "chinese", '#', class: "btn btn-primary" %>
  <%= link_to "brazilian", '#', class: "btn btn-primary" %>
  <%= link_to "portuguese", '#', class: "btn btn-primary" %>
</div>

<div class="row cities">
  <%= link_to "paris", '#', class: "btn btn-primary" %>
  <%= link_to "rome", '#', class: "btn btn-primary" %>
  <%= link_to "tokyo", '#', class: "btn btn-primary" %>
  <%= link_to "pequin", '#', class: "btn btn-primary" %>
  <%= link_to "Rio", '#', class: "btn btn-primary" %>
  <%= link_to "lisbon", '#', class: "btn btn-primary" %>
</div>
<br>
<br>
