
<div class="row">
   <input class="form-control search" placeholder="Search for a Chef Mate near you">
</div>

<!-- <div class="row categories">
  <%= link_to "italian", '#', class: "btn btn-info" %>
  <%= link_to "french", '#', class: "btn btn-info" %>
  <%= link_to "japanese", '#', class: "btn btn-info" %>
  <%= link_to "chinese", '#', class: "btn btn-info" %>
  <%= link_to "brazilian", '#', class: "btn btn-info" %>
  <%= link_to "portuguese", '#', class: "btn btn-info" %>
</div>

<div class="row cities">
  <%= link_to "paris", '#', class: "btn btn-info" %>
  <%= link_to "rome", '#', class: "btn btn-info" %>
  <%= link_to "tokyo", '#', class: "btn btn-info" %>
  <%= link_to "pequin", '#', class: "btn btn-info" %>
  <%= link_to "Rio", '#', class: "btn btn-info" %>
  <%= link_to "lisbon", '#', class: "btn btn-info" %>
</div>
<br>
<br>
 -->
