<div class="wrapper">
  <div class="container">
    <p class="category-show">  <%= @meal.category %> </p>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="left-align meal-image-show">
          <%= image_tag(@meal.photo, :class => "meal-image") %>

        </div>
      </div>
       <div class="col-xs-12 col-md-8">
        <div class="right-align meal-info">
          <h1> <%= @meal.name %></h1>
          <p>By <%= @meal.chef.name  %></p>
          <h2>  <%= @meal.description %></h2>
          <p> Price: R$  <%= @meal.price %> per person </p>
          <form action="<%= bookings_path %>" method="post">
             <div class="form-group">
                  <div class='input-group date' id='datetimepicker1'>
                      <input name="booking[date]" type='text' class="form-control" placeholder="Pick a date" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                       <input name="booking[people]" class="form-control" type="number" id="number-input" placeholder="How many people?">
                  </div>
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <input type="hidden" name="booking[meal_id]" value="<%= @meal.id %>">
                      <input class="submit-button" type="submit" value="Request booking">

          </div>
        </form>








      </div>
    </div>
  </div>
</div>


  <% content_for(:after_js) do %>
    <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
    </script>
  <% end %>



