<div class="wrapper">
  <div class="container">
    <p class="category-show">  <%= @meal.category %> </p>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="left-align meal-image-show">
          <%= image_tag(@meal.photo) %>

        </div>
      </div>
       <div class="col-xs-12 col-md-8">
        <div class="right-align meal-info">
          <h1> <%= @meal.name %></h1>
          <p>By <%= @meal.chef.name  %></p>
          <h2>  <%= @meal.description %></h2>
          <p> Price: R$  <%= @meal.price %> per person </p>

        </div>
      </div>
    </div>
  </div>
</div>







