<div class="wrapper">
  <div class="container content">
    <p class="category-show">  <%= @meal.category %> </p>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="meal-image-show">
          <%= cl_image_tag(@meal.photo, :class => "meal-image", :effect=>"auto_color", :width=>250, :height=>266, :crop=>"fill") %>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="right-align meal-info">
          <h1> <%= @meal.name %></h1>
          <p>By <%= @meal.chef.name  %></p>
          <h2>  <%= @meal.description %></h2>
          <p> Price: R$  <%= @meal.price %> per person </p>
          <form action="<%= bookings_path %>" method="post">
            <div class="form-group">
              <div class='input-group date' id="margin-bottom">
                <input name="booking[date]" type='text' class="form-control"  placeholder="Pick a date" data-provide='datepicker' />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <input name="booking[people]" class="form-control" type="number" id="number-input" value="1">
              </div>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <input type="hidden" name="booking[meal_id]" value="<%= @meal.id %>">
              <input class="btn-primary" type="submit" value="Request booking">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
